@using LoveMM.Models;

@model IEnumerable<Album>
@{
    ViewBag.BaseThumbnailPath = "/Pictures/Channels/";
}

<div class="w1000 box03">
    <div class="title">热门推荐图集</div>
    <div class="clear"></div>
    <ul class="product01">
        @if (Model != null)
        {
            foreach (Album album in Model)
            {
                Picture photo = album.Pictures.FirstOrDefault(t => t.IsThumbnail);
                if (photo == null)
                {
                    photo = album.Pictures.FirstOrDefault();
                }
                <li>
                    <a href="/Home/Album/@album.Id" title="@album.AlbumName" target="view_window">
                        <img src="@(ViewBag.BaseThumbnailPath+album.ChannelId+"/"+album.Id+"/Thumbnail/"+photo.PicName)" border='0' width='184' height='274' alt='@album.AlbumName' />
                        <p>@album.AlbumName</p>
                    </a>
                </li>
            }
        }
    </ul>
</div>
<div class="clear"></div>