<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta name="applicable-device" content="pc" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>@ViewBag.Title - 51LOVEMM</title>
    <meta name="description" content="51LOVEMM美女图片网致力于品牌美女图片专题网站,每天纯手工更新高品质套图" />
    <meta name="keywords" content="美女图片,mm,美女写真,性感美女,丝袜高跟,萌萝莉" />
    <link href="~/Content/lovemm/public.css" rel="stylesheet" />
    <link href="~/Content/lovemm/style.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
</head>
<body>
    @*<div class="header">
        <div class="w1000 hd_midd">
            <div class="collection">
                <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
                <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script><a href="javascript:window.external.AddFavorite('http://www.169bb.com','169美女图片网 - 性感美女写真专家')">加入收藏</a><a href="" onclick="                        this.style.behavior = 'url(#default#homepage)'; this.setHomePage('http://www.169bb.com');">设为首页</a>
            </div>
            <a class="logo" href="/"><img src="http://www.169bb.com/templets/pc/images/logo.gif" height="66" width="217" alt="169美女图片网 - 性感美女写真专家" /> </a>
            <div class="serach">
                <script type="text/javascript">
                    (function () { document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E')); var bdcs = document.createElement('script'); bdcs.type = 'text/javascript'; bdcs.async = true; bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=14198775090431789796' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date() / 3600000); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(bdcs, s); })();
                </script>
            </div>
        </div>
    </div>*@
    <div class="clear"></div>
    @RenderBody()
    <div class="clear"></div>
    <div class="footer">
        <div class="w1000 box04">
            Copyright &#169; @DateTime.Now.Year 51LOVEMM美女图片网 51LOVEMM.COM All Rights Reserved
            @*<script>
                    var _hmt = _hmt || [];
                    (function () {
                        var hm = document.createElement("script");
                        hm.src = "//hm.baidu.com/hm.js?ff0643e963b3f8ea7df6236e47011eec";
                        var s = document.getElementsByTagName("script")[0];
                        s.parentNode.insertBefore(hm, s);
                    })();
                </script>
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_3274502'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/stat.php%3Fid%3D3274502' type='text/javascript'%3E%3C/script%3E"));</script>*@
        </div>
    </div>
</body>
</html>